.CodeMirror{
    height: 100% !important;
    padding: 0.25em !important
}

pre{
    color: aliceblue !important
}
.youwol-definition{
    display: none;
}
/* codemirror-auto-line-break */
.CodeMirror-wrap pre {
    word-break: break-word;
}

/*
.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like{
    z-index: 0 !important;
}
*/